@import '../../../../common/styles/sass/variables';
@import '../../../../common/styles/sass/mixins';

.project {
    width: 450px;
    @include flex(column, flex-start, stretch, nowrap);

    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        background-color: $bgColor;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        cursor: pointer;

        &::before {
            position: absolute;
            content: '';
            background-color: #212529;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.4;
        }

        .viewBtn {
            @include flex(column, center, center, nowrap);
            text-decoration: none;
            background-color: $primaryColor;
            width: 83px;
            height: 40px;
            font-weight: 600;
            font-size: 16px;
            border-radius: .25rem;
            color: $textColor;
            position: relative;
            transition: all 0.5s ease;
            //z-index: 1;
            &:hover {
                background-color: $accentColor;
                box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
            }

        }
    }

    .projectInfo {
        padding: 2.25rem 1.25rem;

        .projectTitle {
            @include text($titleFontFamily, 18px, 1.8);
        }

        .description {
            @include text($textFontFamily, 16px, 1.8);
            font-weight: 300;
        }
    }
}

@media only screen and (max-width: 1800px) { // 1536px - 1800px
    .project {
        width: 400px;
        .image {
            .viewBtn {
            }
        }

        .projectInfo {
            .projectTitle {
            }

            .description {
            }
        }
    }
}

@media only screen and (max-width: 1536px) { // 1200px - 1536px
    .project {
        width: 315px;

        .image {
            .viewBtn {
            }
        }

        .projectInfo {
            .projectTitle {
                @include text($titleFontFamily, 18px, 1);
            }

            .description {
                @include text($textFontFamily, 16px, 1.5);
            }
        }
    }
}

@media only screen and (max-width: 1200px) { // 600px - 1200px
    .project {
        //width: 200px;

        .image {
            width: 300px;
            height: 200px;
            .viewBtn {
            }
        }

        .projectInfo {
            .projectTitle {
            }

            .description {
            }
        }
    }
}

@media only screen and (max-width: 600px) { // 350px - 600px
    .project {
        width: 100%;
        @include flex(column, center, center, nowrap);


        .image {
            width: 200px;
            height: 150px;

            .viewBtn {
            }
        }

        .projectInfo {
            @include flex(column, center, center, nowrap);

            .projectTitle {
            }

            .description {
            }
        }
    }
}